body {
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    background-color: black;
    clear: both;
}

.presentation {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}

.title {
    margin-right: 10%;
    text-align: center;
    margin-bottom: 0;
}

.org {
    font-family: "Copperplate";
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 1%;
}

.nav-left
{
    float: left;
    margin-top: 8%;
    margin-left: 8%;
    white-space: nowrap;
}

.nav-right
{
    float: right;
    margin-top: 8%;
    margin-right: 8%;
    white-space: nowrap;
}

.navitem {
    font-family: "Century Gothic";
    font-size: 12px;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    padding: 4%;
    padding-bottom: 0;
}

.content {
    width: 60%;
    text-align: center;
    height: 92vh;
    font-family: "Century Gothic";
    font-size: 16px;
    font-weight: lighter;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.halfcontent {
    width: 60%;
    text-align: center;
    height: 30vh;
    font-family: "Century Gothic";
    font-size: 16px;
    font-weight: lighter;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentintro {
    width: 55%;
    margin: 0 auto;
    text-align: left;
    font-family: "Century Gothic";
    font-size: 24px;
    font-weight: lighter;
    color: white;
    padding: 1%;
}

.text-left
{
    float: left;
    margin-top: 8%;
    margin-left: auto;
    white-space: nowrap;
    font-family: "Century Gothic";
    font-size: 14px;
    margin-right: 70%;
    position: relative;
}

.text-right
{
    float: right;
    margin-top: 8%;
    white-space: nowrap;
    font-family: "Century Gothic";
    font-size: 14px;
    position: relative;
}

.text-mobile
{
    float: left;
    margin: 0 auto;
    font-family: "Century Gothic";
    font-size: 18px;
}

.blank {
    height: 35px;
    width: 100%;
    background-color: transparent;
}

.map {
    margin: 0 auto;
    width: 90%;
    height: 60vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph {
    margin: 0 auto;
    width: 100%;
    height: 40vh;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    margin-left: 8%;
}

#desktop-only {
    display: none;
}

#desktop-only-flex {
    display: none;
}

.middle
{
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.center-img {
    width: 200px;
    height: auto;
    margin: 2%;
}

.langbuttons {
    display: inline-block;
    padding: 1%;
    background: #000;
    margin: 7% 5% 0 5%;
    font-family: "Century Gothic";
    border: 2px solid white;
    border-radius: 30%;
    text-decoration: none;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #ffff;
    overflow: hidden;
    position: relative;
}

.langbuttons p
{
    vertical-align: middle;
    font-size: 14px;
    transition: 0.2s linear;
}

.langbuttons:hover p
{
    transform: scale(1.2);
    color: #000;
}

.langbuttons::before
{
    content:"";
    position: absolute;
    width: 120%;
    height: 120%;
    transform: rotate(35deg);
    left: -110%;
    top: 90%;
    background: White;
}

.langbuttons:hover::before
{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

.media-info {
    font-family: "Century Gothic";
}

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

.img-animation1 {
    animation: virus 10s infinite;
}

.img-animation2 {
    animation: anxiety 7s infinite;
}

.content2 {
    width: 60%;
    text-align: left;
    height: 100%;
    font-family: "Century Gothic";
    font-size: 16px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    display: flex;
}

.ttl-subsection {
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto;
    color: white;
}

.img-graph {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.end {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(transparent, teal);
}

#playlist
{
    width: 300px;
    height: 380px;
    border: none;
}

@keyframes virus {
    0% {margin-bottom: 3%;}
    20% {margin-right: 3%}
    40% {margin-left: 3%}
    60% {margin-right: 3%}
    80% {margin-top: 3%}
    100% {margin-bottom: 2%}
}

@keyframes anxiety {
    0% {width: 29%;}
    50% {width: 28%;}
    100% {width: 29%;}
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    } 50% {
        left: 10%;
        top: -30%;
    } 100% {
        top: -10%;
        left: -10%;
    }
}

@media only screen and (min-width: 1620px) {
    .text-left
    {
        font-size: 20px;
    }

    .text-right
    {
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .nav-left {
        margin-top: 4%;
    }

    .nav-right {
        margin-top: 4.2%;
    }
}

@media only screen and (min-width: 1150px) {
    
    .org {
        font-size: 24px;
        font-weight: lighter;
        text-align: center;
    }
    
    .nav-left
    {
        margin-top: 1%;
        margin-left: 4%;
    }
    
    .nav-right
    {
        margin-top: 1%;
        margin-right: 4%;
    }
    
    .navitem {
        font-size: 18px;
        padding: 6%;
        color: DarkGray;
    }
    
    .content {
        width: 46%;
        font-size: 28px;
    }

    .contentintro {
        width: 42%;
        font-size: 50px;
    }
    
    .map {
        padding: 5%;
        padding-bottom: 0;
        width: 60%;
        height: 80vh;
    }

    #mobile-only {
        display: none;
    }

    #desktop-only {
        display: inline-block;
    }

    #desktop-only-flex {
        display: flex;
    }

    .pc-org {
        font-size: 28px;
        font-family: "Copperplate";
        color: white;
        text-decoration: none;
    }
    
    .ttl-separator {
        font-size: 20px;
        font-family: "Century Gothic";
        font-weight: 50;
        padding: 0 6px;
        color: Gray;
        text-decoration: none;
    }
    
    .pc-title {
        font-size: 20px;
        font-family: "Century Gothic";
        color: white;
        text-decoration: none;
    }

    .langbuttons p {
        font-size: 24px;
    }

    .content2 {
        width: 40%;
        font-size: 24px;
        margin: 0 40% 0 auto;
    }

    .ttl-subsection {
        margin: 0 43%; 
        font-size: 32px;
        font-weight: normal;
        text-align: center;
        font-family: georgia, "times new roman", times, serif;
    }

    .comp2 {
        margin: 0 30%;
    }

    .graph {
        width: 90%;
        height: 70vh;
        padding: 3%;
    }

    .margin-fix1 {
        margin: 0 25%;
    }

    .margin-fix2 {
        margin: 0 30%;
    }

    .img-graph {
        width: 42%; 
        height: auto;
    }
}